<a href="/welcome/index"> <img src="/images/logo_small.png" border=0></a>
<br>
<a href = "javascript:history.back()"> Back to search results</a> <br/><br/>

<br/>
 <% content= Content.find(@content_id) %>
<%= content.body %>

