<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Rancho-Let's search locally</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />

</head>
<body>

<div class="maincontainer">
  <div class="container">
    <!-- notice start -->
    <% if @flash && @flash[:note]  %>
    <div class="notice"><%= @flash[:note] %></div>
    <% end -%>
    <% if @flash && @flash[:notice]  -%>
    <div class="notice"><%= @flash[:notice] %></div>
    <% end -%>
    <!-- notice end -->
    <div class="content">
      <!-- content start -->
      <%= @content_for_layout %>
      <!-- content end -->
    </div>
  </div>
  <!-- footer start -->
  <div class="footer">
    <div class="copyright">&copy; 2010 Team Rancho</div>
  </div>
  <!-- footer end -->
</div>

<%=render :partial => "/shared/ganalytics"%>
</body>
</html>